<section data-ng-controller="IdCtrl">
	<div class="modal-header">
		<h3 class="modal-title" data-ng-hide="editMode">{{ diary.title }}</h3>
		<input data-ng-model="editDiary.title" data-ng-show="editMode" data-ng-if="editAccess"></input>
		<span>{{ diary.createdDate | date: 'medium' }}</span>
		<a href="#" data-ng-click="viewModifiesList()" data-ng-if="diary.lastModifiedDate">edited</a>
		<tags-input
			data-ng-model="diary.tagsObj"
			data-on-tag-added="editTags()"
			data-on-tag-removed="editTags()"
			data-min-length="2"
			data-ng-if="editAccess"></tags-input>
		<button data-ng-click="saveTags()" data-ng-if="tagsChanged">Save</button>
	</div>
	<div class="modal-body">
		<p data-ng-bind-html="diary.text" data-ng-hide="editMode"></p>
		<div data-ng-model="editDiary.text" medium-editor options="{{mediumOptions}}" bind-options="mediumBindOptions" data-ng-show="editMode"></div>
		<img data-ng-src="public/system/assets/img/diaries/{{diary.image}}" data-ng-if="diary.image"></img>

		<google-map center="map.center" zoom="map.zoom">
			<marker coords="map.marker">
			</marker>
		</google-map>

	</div>
	<div class="modal-footer">
		<span>{{ diary.vote }}</span>
		<button data-ng-click="toggleLike()" data-ng-hide="liked" data-ng-if="userAccess&&!editAccess">Like</button>
		<button data-ng-click="toggleLike()" data-ng-show="liked" data-ng-if="userAccess&&!editAccess">Unlike</button>
		<button data-ng-click="edit()" data-ng-hide="editMode" data-ng-if="editAccess">Edit</button>
		<button data-ng-click="save()" data-ng-show="editMode" data-ng-if="editAccess">Save</button>
		<button data-ng-click="delete()" data-ng-if="editAccess">Delete</button>
	</div>
</section>
