<div class="modal-header">
	<h3 class="modal-title" data-ng-hide="editMode">{{ diaries[diaryIndex].title }}</h3>
	<input data-ng-model="diary.title" data-ng-show="editMode" data-ng-if="editAccess"></input>
	<a data-ng-href="#!/diary/{{diaries[diaryIndex]._id}}">
		{{ diaries[diaryIndex].createdDate | date: 'medium' }}
	</a>
	<a href="#" data-ng-if="diaries[diaryIndex].username">{{ diaries[diaryIndex].username }}</a>
	<a href="#" data-ng-click="viewModifiesList()" data-ng-if="diaries[diaryIndex].lastModifiedDate">edited</a>
	<tags-input
		data-ng-model="diaries[diaryIndex].tagsObj"
		data-on-tag-added="editTags()"
		data-on-tag-removed="editTags()"
		data-min-length="2"
		data-ng-if="editAccess"></tags-input>
	<button data-ng-click="saveTags(diaryIndex)" data-ng-if="tagsChanged">Save</button>
</div>
<div class="modal-body">
	<p ng-bind-html="diaries[diaryIndex].text" data-ng-hide="editMode"></p>
	<div data-ng-model="diary.text" medium-editor options="{{mediumOptions}}" bind-options="mediumBindOptions" data-ng-show="editMode"></div>
	<img data-ng-src="public/system/assets/img/diaries/{{diaries[diaryIndex].image}}" data-ng-if="diaries[diaryIndex].image">
</div>
<div class="modal-footer">
	<span>{{ diaries[diaryIndex].vote }}</span>
	<button data-ng-click="toggleLike(diaryIndex)" data-ng-hide="liked" data-ng-if="userAccess&&!editAccess">Like</button>
	<button data-ng-click="toggleLike(diaryIndex)" data-ng-show="liked" data-ng-if="userAccess&&!editAccess">Unlike</button>
	<button data-ng-click="edit(diaryIndex)" data-ng-hide="editMode" data-ng-if="editAccess">Edit</button>
	<button data-ng-click="save(diaryIndex)" data-ng-show="editMode" data-ng-if="editAccess">Save</button>
	<button data-ng-click="delete(diaryIndex)" data-ng-if="editAccess">Delete</button>
	<button class="btn btn-warning" data-ng-click="close()">Close</button>
</div>
